# Site settings
title: "DOKIPOKI | Personažai vaikams"
description: >-
  Charizmatiški, jauni ir energingi personažai, atvyks į Jūsų šventę pradžiuginti mažuosius!
baseurl: ""
url: "https://dokipoki.lt"
og_image: "/img/social/og-default.png"

# Global contact / social settings (naudok visur per {{ site.* }})
contact_email: "info@dokipoki.lt"

contact_phone_raw: "+37068886006"        # tel: href
contact_phone_display: "+370 6888 6006"  # rodomas tekstas

instagram_url: "https://www.instagram.com/dokipoki_personazai/"
facebook_url: "https://www.facebook.com/DokiPoki-409734166085755/"
messenger_url: "https://m.me/personazaidokipoki"

# Build settings
markdown: kramdown

sass:
  sass_dir: _sass
  style: compress

gems:
  - jekyll-sitemap

exclude:
  - Gemfile
  - Gemfile.lock

permalink: /blog/:title

collections:
  costumes:
    output: true
    permalink: /personazai/:name/
  posts:


defaults:
  - scope:
      path: "_costumes"
      type: "costumes"
    values:
      img_root: "/img/personazai/"
  - scope:
      path: "_posts"
      type: "posts"
    values:
      layout: "post"

excerpt_separator: <!--more-->

prose:
  root_url: "_costumes"
  media: "img/personazai"
  ignore:
    - "/_includes"
    - "index.md"
    - "/css"
    - "/js"
    - "/fonts"
    - "/img"
    - "/_layouts"
    - "/_sass"
    - ".gitignore"
    - "CNAME"
    - "Gemfile"
    - "Gemfile.lock"
    - "_config.yml"
    - "favicon.ico"
    - "google4005b707fd19d3b0.md"
  metadata:
    _costumes:
      - name: "personazas"
        field:
          element: "text"
          label: "Personažo pavadinimas"
          placeholder: "Blogoji Piratė"
          alterable: true
      - name: "img"
        field:
          element: "text"
          label: "nuotrauka"
          placeholder: "blogoji-pirate.png"
    _posts:
      - name: "title"
        field:
          element: "text"
          label: "title"
      - name: "published"
        field:
          element: "checkbox"
          label: "published"
