 <div class="container">
    <div class="row ">
    <div class="col s12">

 <div class="slick-gallery">
	 {% for image in site.static_files %}
    {% if image.path contains '_gallery/' %}
	<img
		class="materialboxed responsive-img"
		src="{{ site.baseurl }}{{ image.path }}">
        <!-- <img src="{{ site.baseurl }}{{ image.path }}" alt="image" /> -->
    {% endif %}
{% endfor %}





	 {% for gallery in site.costumes %}
	 	<!-- <div>		
			
			  <img data-caption="{{ costume.personazas }}"
			  	 class="materialboxed responsive-img"
				alt="{{ costume.personazas }}"
				src="{{ site.baseurl }}{{ costume.img_root }}{{ costume.img }}">
		 </div>				 -->
	 {% endfor %}
  </div>
  </div>
  </div>
  </div>
