<div id="Galerija" class="container scrollspy galerija">
  <div class="row">
    <div class="col s12">
      <div class="grid">
        <div class="grid-sizer"></div>

        {%- assign top_images = site.static_files | where_exp: "img", "img.path contains '/gallery/top/'" -%}
        {%- assign all_images = site.static_files | where_exp: "img", "img.path contains '/gallery/'" -%}

        {%- comment -%}
        1) TOP rodom iškart (pažymim data-gallery="top", kad JS galėtų 100% tiksliai slėpti tik ne-top)
        {%- endcomment -%}
        {%- for image in top_images -%}
          {%- assign alt_text = image.name
            | split: '.'
            | first
            | replace: '-', ' '
            | replace: '_', ' '
          -%}
          <div class="grid-item" data-gallery="top">
            <img
              class="gallery-img"
              src="{{ site.baseurl }}{{ image.path }}"
              alt="{{ alt_text }}"
              loading="lazy"
              decoding="async"
            >
          </div>
        {%- endfor -%}

        {%- comment -%}
        2) Likusios /gallery nuotraukos (išskyrus /gallery/top/) – hidden + deferred
        {%- endcomment -%}
        {%- for image in all_images -%}
          {%- unless image.path contains '/gallery/top/' -%}
            {%- assign alt_text = image.name
              | split: '.'
              | first
              | replace: '-', ' '
              | replace: '_', ' '
            -%}
            <div class="grid-item hidden-gallery" data-gallery="rest">
              <img
                class="gallery-img"
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
                data-src="{{ site.baseurl }}{{ image.path }}"
                alt="{{ alt_text }}"
                loading="lazy"
                decoding="async"
              >
            </div>
          {%- endunless -%}
        {%- endfor -%}
      </div>

      <div class="center-align" style="margin-top: 20px;">
        <a id="show-more-gallery" class="btn waves-effect waves-light rausva">
          Rodyti daugiau
        </a>
      </div>
    </div>
  </div>
</div>
