<div class="container section  kaina">
<div id="Kaina"  class="row scrollspy">
    <div  class="col s12">
     <h1 class="section-header center-align">Kaina</h1>
     </div>
</div>

<div class="row kaina">
    <div class="services col s12 m4">
         <div class="col s3 no-padding">
            <img src="/img/components/price-tag-red.png">
        </div>
        <div class=" col s9 no-padding-right">
            <h4>Programos laikas</h4>
        <div>1 val - 50Eur</div>
        </div>
    </div>    
    <div class="services col s12 m4">    
        <div class="col s3 no-padding">
            <img src="/img/components/price-tag-red.png">
        </div>
            <div class=" col s9 no-padding-right">
            <h4>Papildomas laikas</h4>
        <div>30min - 15Eur</div>
        </div>
    </div>
    <div class="services col s12 m4">
        <div class="col s3 no-padding">
            <img src="/img/components/price-tag-red.png">
        </div>
        <div class=" col s9 no-padding-right">
            <h4>Pasveikinimas</h4>
            <div>~15min - 30Eur</div>
        </div>
    </div>
        <div class="services col s6">
            <h4>*Dirbame Visoje Lietuvoje</h4>
        </div>
    
        <div class="services col s6">
            
            <h4>*LT EN RU PL - Kalbomis</h4>
        </div>
 
        </div>
</div>
