<div class="container section kaina">
  <div id="Kaina" class="row scrollspy">
    <div class="col s12">
      <h2 class="section-header center-align">Kaina</h2>
    </div>
  </div>

  <div class="row kaina">
    <div class="col s12">
      <div class="kaina-highlight">
        <div class="kaina-highlight__tag" aria-hidden="true">
          <img src="/img/components/price-tag-red.png" alt="" width="58" height="101" loading="lazy" decoding="async">
        </div>

        <div class="kaina-highlight__content">
          <div class="kaina-highlight__price">Nuo 100 Eur</div>
          <p class="kaina-highlight__meta">Kaina galioja Vilniaus mieste, gimtadienio programoms</p>
        </div>
      </div>
    </div>
  </div>
</div>
