<div class="container-fluid programa kontaktai">
  <div class="row">
    <div class="col s12">
      <h1 class="section-header center-align">Kontaktai</h1>
    </div>
  </div>

  <div id="Kontaktai" class="row scrollspy section">
    <div class="services col s12 center-align">

      <h4>
        <a
          class="email-link cta-btn"
          href="mailto:{{ site.contact_email }}"
          data-cta-scope="global"
          data-cta-type="email"
        >
          {{ site.contact_email }}
        </a>
      </h4>

      <h4>
        <a
          class="phone-number cta-btn"
          href="tel:{{ site.contact_phone_raw }}"
          data-cta-scope="global"
          data-cta-type="call"
        >
          {{ site.contact_phone_display }}
        </a>
      </h4>

      <br>

      <h4>
        <a
          class="facebook-link cta-btn"
          target="_blank"
          rel="noopener"
          href="{{ site.instagram_url }}"
          data-cta-scope="global"
          data-cta-type="instagram"
        >
          Instagram
        </a>
      </h4>

      <h4>
        <a
          class="facebook-link cta-btn"
          target="_blank"
          rel="noopener"
          href="{{ site.facebook_url }}"
          data-cta-scope="global"
          data-cta-type="facebook"
        >
          Facebook
        </a>
      </h4>

    </div>
  </div>
</div>
