<div class="navbar-fixed">
  <div id="#top-shadow"></div>
  <nav class="rausva z-depth-0" id="nav">
    <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">DokiPoki</a>
      <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down center">
        {% if page.layout == 'home' %}
        <li><a href="#Programa">Programa</a></li>
        <li><a href="#Personazai">Personažai</a></li>
        <li><a href="#Kaina">Kaina</a></li>
        <li><a href="#Galerija">Galerija</a></li>
        <li><a href="/blog">Blogas</a></li>
        <li><a href="#Kontaktai">Kontaktai</a></li>
        {% elsif page.layout == 'post' %}
        <li><a href="/#Programa">Programa</a></li>
        <li><a href="/#Personazai">Personažai</a></li>
        <li><a href="/#Kaina">Kaina</a></li>
        <li><a href="/#Galerija">Galerija</a></li>
        <li><a href="/blog">Blogas</a></li>
        <li><a href="/#Kontaktai">Kontaktai</a></li>
        {% elsif page.layout == 'blog' %}
        <li><a href="/#Programa">Programa</a></li>
        <li><a href="/#Personazai">Personažai</a></li>
        <li><a href="/#Kaina">Kaina</a></li>
        <li><a href="/#Galerija">Galerija</a></li>
        <li><a href="#blog">Blogas</a></li>
        <li><a href="/#Kontaktai">Kontaktai</a></li>
        {% endif %}
      </ul>
    </div>
    </div>
  </nav>
  </div>

  <ul class="side-nav rozine" id="mobile-nav">
        {% if page.layout == 'home' %}
        <li><a href="#Programa">Programa</a></li>
        <li><a href="#Personazai">Personažai</a></li>
        <li><a href="#Kaina">Kaina</a></li>
        <li><a href="#Galerija">Galerija</a></li>
        <li><a href="/blog">Blogas</a></li>
        <li><a href="#Kontaktai">Kontaktai</a></li>
        {% elsif page.layout == 'post' %}
        <li><a href="/#Programa">Programa</a></li>
        <li><a href="/#Personazai">Personažai</a></li>
        <li><a href="/#Kaina">Kaina</a></li>
        <li><a href="/#Galerija">Galerija</a></li>
        <li><a href="/blog">Blogas</a></li>
        <li><a href="/#Kontaktai">Kontaktai</a></li>
        {% elsif page.layout == 'blog' %}
        <li><a href="/#Programa">Programa</a></li>
        <li><a href="/#Personazai">Personažai</a></li>
        <li><a href="/#Kaina">Kaina</a></li>
        <li><a href="/#Galerija">Galerija</a></li>
        <li><a href="#blog">Blogas</a></li>
        <li><a href="/#Kontaktai">Kontaktai</a></li>
        {% endif %}
      </ul>
