<div class="navbar-fixed">
  <div id="#top-shadow"></div>
  <nav class="rausva z-depth-0" id='nav'>
    <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">DokiPoki</a>
      <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down center">
        <li><a href="#Programa">Programa</a></li>
        <li><a href="#Kaina">Kaina</a></li>
        {% comment %}<li><a href="#Personazai">Personažai</a></li> {% endcomment %}
        <li><a href="#Kontaktai">Kontaktai</a></li>
      </ul>
      <ul class="side-nav" id="mobile-nav">
        <li><a href="#Programa">Programa</a></li>
        <li><a href="#Kaina">Kaina</a></li>
       {% comment %} <li><a href="#Personazai">Personažai</a></li> {% endcomment %}
        <li><a href="#Kontaktai">Kontaktai</a></li>
      </ul>
    </div>
    </div>
  </nav>
  </div>
</div>

{% comment %}
<div class="navbar-fixed">
  <div id="#top-shadow"></div>
  <nav class="blue lighten-4 z-depth-0" id='nav'>
    <div class="container">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">DokiPoki</a>
      <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">

        <li><a href="#Kaina">Kaina</a></li>
        <li><a href="#Personazai">Personažai</a></li>
        <li><a href="#Kontaktai">Kontaktai</a></li>
      </ul>
      <ul class="side-nav" id="mobile-nav">
        <li><a href="#Programa">Programa</a></li>
        <li><a href="#Kaina">Kaina</a></li>
        <li><a href="#Personazai">Personažai</a></li>
        <li><a href="#Kontaktai">Kontaktai</a></li>
      </ul>
    </div>
    </div>
  </nav>
  </div>
</div>
{% endcomment %}
