<div class="container programa">
  <div class="row">
    <div class="col s12">
      <h2 class="section-header center-align">Programa</h2>
    </div>
  </div>

  <div id="Programa" class="row section scrollspy">
    <div class="row services-pair">
      <div class="services-wrapper col s6">
        <div class="services row">
          <div class="col s3 no-padding">
            <img alt="inviduali-personzams" src="/img/components/inviduali-personazams.png">
          </div>
          <div class="col s9">
            <h3>INDIVIDUALI PROGRAMA</h3>
            <div>pritaikyta prie Jūsų vaiko aktyvumo, metų bei norų!</div>
          </div>
        </div>
      </div>
      <div class="services-wrapper col s6">
        <div class="services row">
          <div class="col s3 no-padding">
            <img alt="veiduku piesimas" src="/img/components/veiduku-piesimas-personazai.png">
          </div>
          <div class="col s9">
            <h3>VEIDUKŲ PIEŠIMAS</h3>
            <div>piešime ant veidukų su teptukais, daug spalvų ir blizgučiais</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row services-pair">
      <div class="services-wrapper col s6">
        <div class="services row">
          <div class="col s3 no-padding">
            <img alt="sokiai" src="/img/components/animatoriai-sokiai.png">
          </div>
          <div class="col s9">
            <h3>ŠOKIAI</h3>
            <div>personažai su savimi atsineša profesionalią garso aparatūrą, tad garso šokiams tikrai pakaks!</div>
          </div>
        </div>
      </div>
      <div class="services-wrapper col s6">
        <div class="services row">
          <div class="col s3 no-padding">
            <img alt="balionu lankstymas" src="/img/components/balionu-lankstymas.png">
          </div>
          <div class="col s9">
            <h3>BALIONŲ LANKSTYMAS</h3>
            <div>kiekvienam vaikui personažas išlankstys iš baliono gėlytę, kardą ar šuniuką</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row services-pair">
      <div class="services-wrapper col s6">
        <div class="services row">
          <div class="col s3 no-padding">
            <img alt="zaidimai" src="/img/components/animatoriai-zaidimai.png">
          </div>
          <div class="col s9">
            <h3>ŽAIDIMAI</h3>
            <div>žaisime, varžysimės tarpusavyje, bus daug judesio ir juoko!</div>
          </div>
        </div>
      </div>
      <div class="services-wrapper col s6">
        <div class="services row">
          <div class="col s3 no-padding">
            <img alt="burbulu putimas" src="/img/components/burbulu-putimas.png">
          </div>
          <div class="col s9">
            <h3>BURBULŲ FIESTA</h3>
            <div>kartu su personažu darysime didžiulius muilo burbulus su lazdomis!</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row services-pair">
      <div class="services-wrapper col s6">
        <div class="services row">
          <div class="col s3 no-padding">
            <img alt="plauku dazymas" src="/img/components/plauku-spalvinimas-personazai.png">
          </div>
          <div class="col s9">
            <h3>PLAUKŲ DAŽYMAS</h3>
            <div>marginame plaukus įvairiomis spalvomis ir blizgučiais</div>
          </div>
        </div>
      </div>
      <div class="services-wrapper col s6">
        <div class="services row">
          <div class="col s3 no-padding">
            <img alt="tatuiruotes" src="/img/components/tatuiruotes-personazai.png">
          </div>
          <div class="col s9">
            <h3>TATUIRUOTĖS</h3>
            <div>darome tatuiruotes su mylimais vaikų superherojais</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row services-pair">
      <div class="services-wrapper col s6">
        <div class="services row">
          <div class="col s3 no-padding">
            <img alt="tatuiruotes" src="/img/components/blizguciai-personazas.png">
          </div>
          <div class="col s9">
            <h3>BLIZGUČIŲ TERAPIJA</h3>
            <div>papuošime vaikų veidus ir plaukus spalvingais blizgučiais</div>
          </div>
        </div>
      </div>
      <div class="services-wrapper col s6">
        <div class="services row">
          <div class="col s3 no-padding">
            <img alt="plauku dazymas" src="/img/components/chemija-personazai.png">
          </div>
          <div class="col s9">
            <h3>EKSPERIMENTAI</h3>
            <div>išbandysime smagius eksperimentus su sausu ledu, azotu ir kitomis magiškomis priemonėmis</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ⭐ VISOS PROGRAMOS BUTTON ⭐ -->
<div class="container">
  <div class="row">
    <div class="col s12 center-align" style="margin-top: 40px;">
      <a href="{{ site.baseurl }}/programos/"
         class="btn-large waves-effect waves-light dp-btn section-header">
        Visos programos →
      </a>
    </div>
  </div>
</div>

{% comment %}
<!--<div class="services col-4">
  <h4>TITLE</h4>
  <div>description</div>
</div>-->
{% endcomment %}
