<div id="Programa" class="row scrollspy">
    <div  class="col s12">
     <h1 class="section-header center-align">Programa</h1>
     </div>
</div>
<div class="container">
<div class="row programa">
   
    <div class="services-wrapper col s6">
        <div class="services row">
            <div class="col s3"><img src="/img/components/clockicon-85-90.png"></img></div>
            <div class="col s9">
            <h4>INVIDUALI PERSONAŽUI</h4>
        <div>nuo 1valandos(50EUR) +30min 15EUR</div>
        </div>
        </div>
        <div class="services row">
            <div class="col s3"><img src="/img/components/nata-01.png"></img></div>
            <div class="col s9">
            <h4>ŠOKIAI</h4>
            <div>darysis princesių karūnėles, tapys mažųjų delniukų paveikslą.</div>
            </div>
        </div>
        <div class="services row">
            <div class="col s3"><img src="/img/components/zvaigzde-01.png"></img></div>
            <div class="col s9">
            <h4>ŽAIDIMAI</h4>
            <div>darys visų pamėgtą piratų arba pykšt pokšt mankštą, šoks princesių šokį ir dainuos Elzos dainelę.</div>
            </div>
        </div>
   
        </div>
    
     <div class="col s6">
                      <div class="services row">
            <div class="col s3"><img src="/img/components/clockicon-85-90.png"></img></div>
            <div class="col s9">
            <h4>VEIDUKŲ PIEŠIMAS</h4>
            <div>darys visų pamėgtą piratų arba pykšt pokšt mankštą, šoks princesių šokį ir dainuos Elzos dainelę.</div>
            </div>
        </div>
                <div class="services row">
            <div class="col s3"><img src="/img/components/baloon-doge.png"></img></div>
            <div class="col s9">
            <h4>BALIONAI</h4>
            <div>darys visų pamėgtą piratų arba pykšt pokšt mankštą, šoks princesių šokį ir dainuos Elzos dainelę.</div>
            </div>
        </div>
                <div class="services row">
            <div class="col s3"><img src="/img/components/bubble100x100-01.png"></img></div>
            <div class="col s9">
            <h4>BURBULAI</h4>
            <div>darys visų pamėgtą piratų arba pykšt pokšt mankštą, šoks princesių šokį ir dainuos Elzos dainelę.</div>
            </div>
            </div> 
     </div>
</div>
</div>
{% comment %}
      <!--<div class="services col-4">
            <h4>TITLE</h4>
            <div>description</div>
        </div>
        -->
        {% endcomment %}