<div class="container">
    <div class="row ">
    <div class="col s12">
        <h2 class="section-header center-align">Personažai</h2>
    </div>
    </div>
    
    <div id="Personazai"  class="row section scrollspy personazai">
        {% for costume in site.costumes %}
        <div class="personazai-wrapper col l4 m6 s12">
            <img data-caption="{{ costume.personazas }}" class="materialboxed responsive-img" alt="{{ costume.personazas }}" src="{{ site.baseurl }}{{ costume.img_root }}{{ costume.img }}">
            <h4><a class="cursor-default" href="#{{ costume.personazas }}">{{ costume.personazas }}</a></h4>
        </div>
        
        <div id="#{{ costume.personazas }}" class="modal">
            <div class="modal-content">
                <h4>{{ costume.personazas }}</h4>
                <p>{{ costume.content }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

