<div id="subheader-wrapper" class="section scrollspy">
  <div class="container">
    <div class="row">
      <div id="subheader" class="col s12 offset-s0 m10 offset-m1">
        <div class="center-align">
          <div id="company-name" class="white-text">
            <span class="title-background">DokiPoki</span>
          </div>
        </div>

        <div class="center-align">
          <h1 class="subheader sub-title baloon-line">ANIMATORIAI VAIKAMS</h1>

          {% if page.url == "/" %}
          <div class="home-messenger-cta">
            <a
              href="{{ site.messenger_url }}"
              class="btn-large waves-effect waves-light dp-btn section-header"
              target="_blank"
              rel="noopener"
            >
              Susisiekti per Messenger &#8594;
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
