<div id="subheader-wrapper">
  <div class="container">
    <div class="row">
      <div id="subheader" class="col s12 offset-s0 m10 offset-m1">
        <div class="center-align">
          <h1 class="retro-banner">Pasakų Personažai</h1>
          <h3><span class="red-text text-lighten-2 stars-comp">Invidualios Programos</span></h3>
          <h5 class="row">
            <span class="col s4">Vaikų gimtadieniai</span>
            <span class="col s4">Krikštynos</span>
            <span class="col s4"> Kalėdiniai Renginiai</span>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>