<!DOCTYPE html>
<html lang="lt">

{% include head.html %}

<body class="rozine">
	{% include navbar.html %}

	{% include blog-home.html %}

	<!--{% include divider.html %}-->
	{% include kontaktai.html %}


	<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.4.1.min.js"></script>
	<script type="text/javascript" src="{{ "/js/bin/materialize.js" | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ "/js/masonry/masonry.min.js" | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ "/js/masonry/imagesloaded.min.js" | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ "/js/bin/main.js" | prepend: site.baseurl }}"></script>

	<script src="https://player.vimeo.com/api/player.js"></script>
	<!-- <script type="text/javascript" src="/slick/slick.min.js"></script>
	<script type="text/javascript" src="/slick/main.js"></script> -->

</body>

</html>
