<!DOCTYPE html>
<html lang="lt">

{% include head.html %}

<body class="rozine">
	{% include navbar.html %}

    <div class="container">

        <div id="Blog"  class="row section scrollspy blog post">
            <div class="col m8 offset-m2 s12">
				<h1>{{page.title}}</h1>
	            {{ content | markdownify }}
                <div class="row" style="margin-top: 40px;">
                    <div class="col s12 center-align">

                        <p class="kg-font kg-font--normal" style="margin-bottom: 10px;">
                            Ieškote animatorių vaikų šventei?
                        </p>

                        <p>
                            <a href="/programos/" class="btn-large waves-effect waves-light dp-btn section-header">Programos</a>
                            <a href="/personazai/" class="btn-large waves-effect waves-light dp-btn section-header">Personažai</a>
                        </p>

                    </div>
                </div>
            </div>
        </div>

    </div>
	{% include kontaktai.html %}


	<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.4.1.min.js"></script>
	<script type="text/javascript" src="{{ "/js/bin/materialize.js" | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ "/js/masonry/masonry.min.js" | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ "/js/masonry/imagesloaded.min.js" | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ "/js/bin/main.js" | prepend: site.baseurl }}"></script>

	<!-- <script src="https://player.vimeo.com/api/player.js"></script> -->
	<!-- <script type="text/javascript" src="/slick/slick.min.js"></script>
	<script type="text/javascript" src="/slick/main.js"></script> -->

</body>

</html>
